__pycache__
db/db.json
.vscode/.ropeproject
logs

# This file needs to be dynamically generated for the app to be location independent
scripts/radio-mnm.service

# The .env is specific to each environment and should therefor not be tracked.
.env